<div class="container">
  <div class="card w-50 m-auto mt-5">
    <div class="card-body mb-3 mt-3">
      <h2 class="card-title">Mi Cuenta</h2>
      <!-- <div class="card-container"> -->
        <div class="row">
          <form [formGroup]="userForm" (ngSubmit)="editUser(userForm.value)">
            <div class="col-md-12 mb-3 form-floating">
              <input
                type="text"
                readonly
                class="form-control"
                id="staticEmail"
                [value]="email"
                disabled
              />
              <label for="floatingName">Email</label>
            </div>
            <div class="col-md-12 form-floating">
              <input
                type="text"
                class="form-control"
                id="floatingName"
                placeholder="Nombre"
                formControlName="nombre"
              />
              <label for="floatingName">Nombre</label>
            </div>
            <div class="col-md-12 form-floating mt-3">
              <input
                type="text"
                class="form-control"
                id="floatingApellido"
                placeholder="Apellido"
                formControlName="apellido"
              />
              <label for="floatingApellido">Apellido</label>
            </div>
    
            <button type="submit" class="btn btn-primary col-md-12 mt-3 p-2">Guardar</button>
          </form>
          <div>
            <button (click)="logout()" type="button" class="btn btn-outline-danger mt-3 p-2 col-md-12">
              Logout
            </button>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>

<!--
<app-image-uploader></app-image-uploader>
-->
